@media screen and ( min-width: 768px){
	*{
		box-sizing:border-box;
		margin:0;
		padding: 0;
	}
	.grid-container{
		width:100%;
		border:solid #999 1px;
		padding: 10px;
	}
    .grid-container:before,
    .grid-container:after{
    	content:"";
    	display: table;
    	clear:both;
    }
	.row{
		width: 100%;
	}
	.row:before,
	.row:after{
		content: "",
		display:table;
		clear: both;
	}
	[class*='col-md-']{
		float: left;
		min-height: 1px;
		width: 8.33%;
		/*gutter*/
		padding:10px;
	}
	[class*='col-md-'] >div{
	height:50px;
		background-color: #eee;
		border:solid 1px #999;
	
	}
	.col-md-1{
		width: 8.33%;
	}
	.col-md-2{
		width: 16.66%;
	}
	.col-md-3{
		width:24.99%;
	}
	.col-md-4{
		width:33.32%;
	}
	.col-md-5{
		width: 41.65%;
	}
	.col-md-6{
		width: 50%;
	}
	.col-md-7{
		width: 58.31%;
	}
	.col-md-8{
		width: 66.64%;
	}
	.col-md-9{
		width: 74.97%;
	}
	.col-md-10{
		width: 83.3%;
	}
	.col-md-11{
		width: 91.63%;
	}
	.col-md-12{
		width: 100%;
	}

}