html,
body,
div,
table,
h1,
h5,
p{
	margin: 0;
	padding:0;
	outline: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
 table{
	text-align: center;
}
body{

	font-size: 14px;
	font-family: "Microsoft Yahei", sans-serif,"微软雅黑";
}
a{
	text-decoration: none;
}
nav{
	width: 100%;
	font-size: 18px;
}
#logo {
	display: inline-block;
    width:120px;
    height: 50px;
	font-size: 20px;
margin-left: 50px;
margin-top: 20px;
color: #000;
} 

nav ul{
	position: absolute;
	top: 20px;
	right: 50px;
}
nav ul li {
	display:inline-block;
	margin-right: 30px;
}
nav ul li a {
	color:#999;
}
nav ul li a:hover{
	border-bottom: solid 2px red;
	color: red;
}
.life{

	background:url("../imgs/7-1.jpg");
	background-size: cover;
	width: 100%;
	min-width: 1000px;
	height: 618px;
	margin:20px auto ;
	position: relative;
}
.life p:first-child{
	font-size: 60px;
	position: absolute;
	color: #fff;
	top:200px;
	left: 100px;
}
.text-1{
	position: absolute;
	top:280px;
	left: 100px;
	color: #fff;
	font-size: 20px;
}
.text-2{
	position: absolute;
	top:310px;
	left: 100px;
	color: #fff;
	font-size: 20px;
}
.life button{
	display: block;
	width: 350px;
	height: 60px;
	color: #fff;
	font-size: 30px;
	font-family: "Microsoft Yahei";
	background-color:#E8504F; 
	position: absolute;
	top:380px;
	left: 100px;
	letter-spacing: 10px;
    border:none;
}
table{
	margin:0 auto;
	
	
}
.show td{
	width: 300px;
}
tr td img{
	width: 80px;
	height: 80px;
	padding: 0px 130px;
} 
.text-3{
	padding: 10px 90px;
	color: #666;
	border-right: solid #999 2px;
}
.text-3:last-child{
	border-right: none;
}
.world{
	width: 100%;
	/*height: 900px;*/
	background-color: #F7F7F7;
	position: relative;/**/

}
.world >img{
	display: block;
	width: 100px;
	margin:0 auto ;
	padding: 50px 0 30px;
}
.world h1{
	font-size: 50px;
	font-family: Simhei;
	color:#A5A5A5;
	width:850px;
	margin:0 auto;
	padding-bottom: 50px;
}
form{
    width: 100%;
    background:url("../imgs/7-bg.jpg");
    background-size: cover;
    height: 300px;
}
form p{
	width: 230px;
	margin:0 auto;
	color: #fff;
	font-size:20px;
	padding:50px 0 30px;
}
form h5{
	width: 380px;
	margin: 0 auto;
	color: #fff;
	font-size: 13px;
	padding-bottom: 50px;
}
form div{
	width:80%;
	margin:0 auto;
}
form div input[type='text']{
	width: 20%;
	height: 25px;
	background:url("../imgs/enve.jpg") no-repeat right ;
	background-color: #fff;
	margin-right: 50px;
	border:none;
}
form div input[type="text"]:focus{
border: solid #BF4E48 2px;
}
form div input[type="button"]{
	width: 20%;
	height: 32px;
	background-color:#BF4E48 ;
	color: #fff;
	border:none;
	font-family: "Microsoft Yahei";
	letter-spacing: 10px;
}
.activity{
	width: 80%;
	margin: 0 auto;
	min-width: 1200px;
}
.activity >div {
	width: 24%;
	display: inline-block;
	margin-left: 8px;

}
.activity >div >div{
	background-color: #fff;
		text-align: center;
		padding: 20px 0;
		margin-right: 20px;
		border:#DFDFDF solid 1px;
}
.text-4{
	width:40%;
	font-size: 18px;
	margin: 10px auto;

}
.big{
	font-size: 25px;

}
.text-5{
	width:50%;
	font-size: 14px;
	color: #999;
	margin: 10px auto;
}
.activity img{
	width: 80%;
}
.time{
	width: 100%;
    position: relative;
}
.time-left{
	width: 66%;
/*	display: inline-block;
*/	background: url("../imgs/7-10.jpg");
	height: 600px;
}
.text-6{
	font-size: 40px;
	color:#F70A0A;
	position:absolute;
    top:180px;
    left: 30%;
}
.time h1{
	font-size: 200px;
	color: #939A39;
	position: absolute;
	top: 210px;
	left:15%;
}
.text-7{
	position: absolute;
	top: 440px;
	left: 30%;
	font-size:30px;
	color: #fff;
}
.text-8{
	position: absolute;
	top: 480px;
	left: 30%;
	font-size:30px;
	color: #fff;
}
.time-right{
	width: 33%;
/*	display: inline-block;
*/	padding:50px;
position:absolute;
top:50px;
right: 10px;
/*	height: 600px;
*/}
.time-right h3{
	width: 30%;
	font-size: 20px;
	margin: 30px auto;

}
.time-right h3 span{
	color: #E8504F;
}
.time-right p{
	color: #AA9C99;
	line-height: 40px;
}
.time-right button{
	color: #E8504F;
	width:40%;
	height: 40px;
	border:#E8504F solid 1px;
	background-color: #fff;
	display: block;
	margin: 30px auto;
}
.new-life{
	width: 100%;
	/*min-width: 1000px;*/
}
.new-life >div{
	display: inline-block;
	width: 33%;
	height: 600px;
	position:relative;
/*	display: flex;
	justify-content:center;
	align-items:center;*/
}
.new-life-left{
   background-color:#E8504F; 
}
.new-life table{
   position: absolute;
   top:30%;
   left:30%;
}
.new-life-left table td,.new-life-middle table td{
/*   text-align: center;*/
   font-size: 20px;
   height:30px;
}
.new-life-left table td{
	color:#fff;
}
.new-life-left button,.new-life-middle button{
	width: 150px;
	height:40px;
	font-size: 20px;
	background-color:#fff;
    border:solid #E8504F 1px;
	font-family: "Microsoft Yahei";
}
.new-life-left button{
	color: #fff;
    border:solid #fff 1px;
    background-color:#E8504F;
}
.new-life-right{
	background: url("../imgs/7-11.jpg");
	background-size: cover;
}
.us{
	width: 100%;
	min-width: 1000px;
	padding-top: 100px;
}

.text-9{
	font-size: 20px;
	height: 50px;
	font-weight: bold;
}
.text-10{
	color: #999;
}
.contact{
	width: 80%;
	margin: 100px auto;
}
.contact-left{
	display: inline-block;
	width: 30%;
	color: #999;

}
.contact-left button{
	background-color: #fff;
	border:none;
	color: #999;
	position:relative;
    left: 88%;
}
.contact-right{
	display: inline-block;
	vertical-align: top;
	width: 68%;
	color: #999;
}
.contact-right div{
	width: 45%;
	display:inline-block;
	background-color: #EDEDEF;
	height: 40px;
	margin:5px ;
	line-height: 40px;
	white-space: nowrap;
}
.contact-right p{
	margin: 5px;
	width:92.5%;
	height: 150px;
	background-color: #EDEDEF;

}
.contact-right input{
	background-color: #EDEDEF;
	border:none;
}
.contact-right input[type="button"]{
	width: 92.5%;
	height: 40px;
	margin: 5px;
	font-size: 15px;
    font-family: "Microsoft Yahei";
}
footer{
	width: 100%;
	background-color:#33363F ;
}
footer table{
	padding:100px 0;
	color: #fff;
}
.text-11{
	font-size:25px; 
}
.text-12 input{
	margin: 20px 0;
	width: 400px;
	height: 30px;
}
.text-12 input[type="button"]{
  width:80px;
  height: 35px;
  font-family: "Microsoft　Yahei";
  font-size: 20px;
  border:none;
  margin-left:30px;
}
footer table img {
	width: 300px;
	height: 50px;
}
footer >div{
	width:100%;
	height: 50px;
	background-color: #30303A;

}
footer >div span{
  display: inline-block;

  color: #fff;
  margin:15px 30px; 
}
footer button{
	float: right;
	background-color: #30303A;
	border:none;
	margin:15px 30px;
}